* {
  margin: 0;
  padding: 0;
}

.wrapper {
  width: 100%;
  height: 600px;
  display: flex;
  justify-content: space-between;
}
.house-base {
  width: 150px;
  height: 150px;
}

.house-base_color_red {
  background-color: red;
}

.house-base_color_blue {
  background-color: blue;
}
.house-base_color_green {
  background-color: green;
}
